<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets async="true">

		<!--${basedir}/logs/file${shortdate}.txt-->
		<target  name="logfile" xsi:type="File" fileName="${basedir}/logs/file{####}.txt"
				maxArchiveFiles="10"
				archiveAboveSize="10240"
            />
	</targets>

	<!--<target  name="logfile" xsi:type="File"
		   fileName="${basedir}/logs/mylog.txt"
		   layout="${message} ${callsite} ${callsite-linenumber} ${callsite-filename} ${level} 
             ${newline} 
             ${var:username}
              ${newline} 
              ${date} 
              {longdate}
              ${shortdate} 
              ${ticks} 
              ${time}
              ${newline} 
              ${message:uppercase=true} 
              ${message:lowercase=true} 
               ${newline} 
             "
            />
	</targets>-->

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>